<nav>
	    <div id="menubar">
          <ul id="nav">
            <li class="current"><a href="index.html">Home</a></li>
            <li><a href="/our_work/my_work">Our Work</a></li>
            <li><a href="testimonials.html">Testimonials</a></li>
            <li><a href="/projects/my_project">Projects</a></li>
            <li><a href="contact.html">Contact Us</a></li>
          </ul>
        </div><!--close menubar-->	
      </nav>